*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    
}


body {
    background-color: bisque;
    margin: auto;
    width: 50%;
    padding: 10px;
}

button{
    margin-top: 15px;
}

p{
    margin-top: 10px;
    
}